.App {
  text-align: center;
  margin: none;
  padding: none;
}

.App-header {
  margin: none;
  background-color: #282c34;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  @media screen {
    
  }
}

@media only screen and (max-width: 900px) {
  .App-header {
    height: 210vh;
    min-height: 200vh;
  }
}

@media only screen and (max-width: 400px) {
  .App-header {
    height: 280vh;
    min-height: 200vh;
  }
}

